.LINKNAOSUB { text-decoration: none; color: #000066;}
     .LINKNAOSUBB {  color: #FFFFFF; text-decoration: none;}
     .linalt2 {  line-height: 15px; margin-top: 15px;}


    
.celula {
     background-color: pink
}.celDisciplina{
     background-color: lightblue
}.celPeriodo.celAtendida.celTipo.celRamificacao.celCredito.celCHTotal.celTravaCredito.celPeriodoSugerido{}
.IME01 {
     background-color: #dbedff
}.IME02 {
     background-color: #b6dcff
}.IME03 {
     background-color: #92caff
}.IME04 {
     background-color: #6db9ff
}.IME05 {
     background-color: #4da9ff
}.IME06 {
     background-color: #2496ff
}.FIS01 {
     background-color: aquamarine
}.FIS02 {
     background-color: turquoise
}.FIS03 {
     background-color: darkturquoise
}.ILE02 {
     background-color: plum
}.ILE04 {
     background-color: violet
}.FAF03 {
     background-color: darksalmon
}
.periodo1 {
     background-color: Gainsboro
}.periodo2 {
     background-color: LightGrey
}.periodo3 {
     background-color: Silver
}.periodo4 {
     background-color: DarkGray
}.periodo5 {
     background-color: Gray
}.periodo6 {
     background-color: DimGray
}.periodo7 {
     background-color: #4F4F4F
}.periodo8 {
     background-color: #363636
}.semPeriodo{
     background-color: white;
}