/* Fonte do acordeão: adaptado de https://codepen.io/jopico/pen/kyRprJ */

/**************************************/
/* Tabela de disciplinas - Formatação */
/**************************************/

#tabela-disciplinas {
  width: 100%;

  & > tbody > tr {
    display: flex;
    flex-wrap: wrap;

    & > th {
      font-weight: bold;
    }

    & > th, td {
      padding: 0.4em;
    }

    & > td.detalhes-disciplina {
      flex-basis: 100%;
    }

    & > th[scope="col"], th[scope="colgroup"] {
      vertical-align: middle;
      padding: 0.4em;
      border-bottom: var(--divisor-tabela);
    }
  }
}

/************************************/
/* Tabela de disciplinas - Acordeão */
/************************************/

#tabela-disciplinas.fold-table {

  table-layout: fixed;

  & > thead > tr.dados-disciplina,
  & > tbody > tr.dados-disciplina {
    font-size: 12px;
    /* Para o conteúdo expansível do acordeão ficar numa célula (td): */
    display: flex;
    flex-wrap: wrap;
  }

  & > thead > tr > th {
    border-bottom: var(--divisor-tabela);
  }

  & > tbody {

    & > tr.dados-disciplina {
      text-align: center;

      /* & th:first-child, */
      & td:first-child {
        position: relative;
        padding-left: 30px;
      }

      & td.disciplina-periodo {
        cursor: pointer;
      }
    }

    & > tr.dados-disciplina:nth-child(4n-1) {
      background-color: #cbd4e5;
    }

    & > tr.dados-disciplina:hover {
      background-color: #7ab1e5;
    }

    &  > tr.dados-disciplina.open {
      background-color: var(--menu-item-selected-bg-color);
      color: var(--menu-item-selected-text-color);

      /* & th:first-child::before, */
      &  > td:first-child::before {
        transform: rotate(-180deg);
        color: var(--arrow-selected-color);
      }

      & .disciplina-codigo {
        background-color: unset;
      }

      & .detalhes-disciplina {
        background-color: var(--expanded-content-bg-color);
        color: var(--expanded-content-text-color);
      }
    }

    & td.detalhes-disciplina {

      &.fold {
        padding: 0px;
        height: 0px;
        transition: all 1s ease;
      }

      &.open {
        padding: unset;
        height: unset;
        transition: all 1s ease;
      }
    }

    /* & > tr.dados-disciplina th:first-child::before, */
    & > tr.dados-disciplina td:first-child::before {
      position: absolute;
      top: 50%;
      left: 5px;
      width: 12px;
      height: 16px;
      margin-top: -8px;
      margin-left: 5px;
      font-size: 14px;
      color: #888888;
      content: var(--arrow-down);
      transition: all 0.3s ease;
    }
  }
}

/************************************************/
/* Detalhes da disciplina: Expansão do acordeão */
/************************************************/

.detalhes-disciplina {
  width: 450px;
  position: relative;
  padding: 0.5em;
  background-color: #f0f8ff;
  border: 0.5px dashed #babaca;

  & table {
    /* border: 3px solid #cccccc; */
    border-top: var(--divisor-tabela);
    border-bottom: var(--divisor-tabela);

    & > tbody tr:nth-child(odd) {
      background-color: #d8e8ff;
    }

    & thead > tr > th[scope="col"] {
      padding: 0.5em;
      border-bottom: var(--divisor-tabela);
    }
  }
}

.detalhes-disciplina.acordeao {
  cursor: pointer;
}

.detalhes-disciplina.acordeao::after {
  content: '▶';
  font-size: 12px;
  color: #777777;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.detalhes-disciplina.acordeao.active::after {
  content: '▼';
  top: 10px;
}
