/**
 * IMPORTANTE: Esses estilos foram ADAPTADOS do
 * estilo já utilizado, então deve-se creditar os
 * desenvolvedores que os elaboraram originalmente.
 */

 .conteudo {
  max-width: 1000px;
  max-width: 75%;
  /* margin: 0 auto; */
  justify-self: center;
  padding: 0 10px;
}

/***********************************************************/
 /* Estilos divContentBox: Caixas (containers) de conteúdo */
/***********************************************************/


.divContentBoxHeader {
  font-weight: bold;
}

.divContentBoxBody {
  font-size: 12px;
}

/********************************************************/
/* Estilos divContentBlock: Blocos de conteúdo interno  */
/********************************************************/

.divContentBlock {
  background-color: unset;
  /* margin-top: 15px; */
  /* border: 0.5px dashed #babaca; */
  width: 100%;
  padding: 10px;
  /* float: left; */
  display: flex;
  flex-direction: column;
}

.divContentBlockHeader {
  font-weight: bold;
  margin: 2px 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /*  width: 100%; */
  text-align: left;
  /* float: left; */
}

.divContentBlockBody {
  padding: 5px 0;

  & tbody {
    display: table-row-group;
  }

  & tr {
    display: table-row;
  }
}

/********************************************/
/* Estilos divTabelaBox: Blocos das tabelas */
/********************************************/

.divTabelaBox {
  border: 1px solid #808080;
  overflow: hidden;
  margin-bottom: 20px;
}

.divTabelaBoxHeader {
  background-color: #a7c7e7;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  border-bottom: 1px solid #808080;
}

.divTabelaBoxBody {
  padding: 15px;
  background-color: #f6f6f6;
}

/***********************************************************/
 /* Estilos: Cabeçalhos e rodapés */
/***********************************************************/

.page-header1, .page-header2 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.page-header1 {
  background-color: #cad3e4;
}

.page-header2 {
  padding-top: 10px;
}

.header-column {
  display: flex;
  align-items: center;
}

.header-column.left,
.header-column.right {
  width: 20%;
}

.header-column.middle {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-column.right {
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
}

.header-column.middle h1 {
  margin: 0;
  font-size: 24px;
  color: #333333;
}

.header-column.middle .aluno-info {
  margin: 15px 0 0;
  font-size: 16px;
  color: #777777;
}

.header-column img {
  max-height: 100px;
}

.page-header2 .header-column.left {
  gap: 10px;
}

.footer-column {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
