/* Estilos gerais */

html {
  /* Source: https://stackoverflow.com/a/70360664 */
  scrollbar-gutter: stable both-edges;
}

body {
  padding: 0.2em 2em;
  font-family: Arial, sans-serif;
}

h3 {
  margin: 5px 0;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: table;
}

td {
  vertical-align: top;
}

/* Identificadores */

table#disciplinas {
  font-family: Verdana, "MS Sans Serif", Arial, Helvetica;
  font-size: 12px;
}

/* Demais estilos */

.conteudo {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header1,
.page-header2 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: Verdana, "MS Sans Serif", Arial, Helvetica;
}

.page-header1 {
  background-color: #cad3e4;
}

.page-header2 {
  padding-top: 10px;
}

.header-column {
  display: flex;
  align-items: center;
}

.header-column.left,
.header-column.right {
  width: 20%;
}

.header-column.middle {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-column.right {
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
}

.header-column.middle h1 {
  margin: 0;
  font-size: 24px;
  color: #333333;
}

.header-column.middle .aluno-info {
  margin: 15px 0 0;
  font-size: 16px;
  color: #777777;
}

.header-column img {
  max-height: 100px;
}

.page-header2 .header-column.left {
  gap: 10px;
}

.tdHeader {
  margin: 0;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #8b8b83;
  vertical-align: bottom;
  padding: 0;
}

.tdHeader .celTipoDisc {
  width: 500px;
}

.LINKNAOSUB {
  text-decoration: none;
  color: inherit;
}

#disciplina-table .colHorarios-1 {
  width: 5%;
  text-align: right;
  border-bottom-width: 0;
  padding-right: 5px;
}

#disciplina-table .colHorarios-2 {
  width: 35%;
}

#disciplina-table .colHorarios-3 {
  width: 10%;
}

#disciplina-table .colHorarios-4 {
  width: 5%;
  text-align: center;
}

#disciplina-table .colHorarios-5 {
  width: 15%;
  text-align: center;
}

#disciplina-table .colHorarios-6 {
  width: 15%;
}

.divTabelaBox {
  border: 1px solid #808080;
  overflow: hidden;
  margin-bottom: 20px;
}

.divTabelaBoxHeader {
  background-color: #a7c7e7;
  padding: 10px;
  font-family: Verdana, "MS Sans Serif", Arial, Helvetica;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  border-bottom: 1px solid #808080;
}

.divTabelaBoxBody {
  padding: 15px;
  background-color: #f6f6f6;
}

.celDisciplina {
  width: 450px;
  position: relative;
}

.celCodigoDisc {
  width: 100px;
  text-align: center;
}

.disciplina-texto {
  display: inline-block;
  width: calc(100% - 40px);
}

.celPeriodo {
  width: 35px;
  text-align: center;
}

.celAtendida {
  width: 30px;
  padding-left: 25px;
  text-align: center;
}

.celTipoDisc {
  width: 75px;
  padding-left: 20px;
}

.celRamificacao {
  width: 10px;
  padding-left: 15px;
}

.celCredito {
  width: 10px;
  padding-left: 30px;
}

.celCHTotal {
  width: 10px;
  padding-left: 25px;
}

.celPeriodoSugerido {}

.linalt2 {
  line-height: 15px;
  margin-top: 15px;
}

.celula {
  background-color: #ffc0cb;
}

.linhaDisciplina {
  background-color: #add8e6;
  margin: 2px 0;
  padding: 2px;
  order: 1;
}

.linhaDisciplina th {
  font-weight: bold;
  position: sticky;
  top: 0;
  vertical-align: middle;
  background-color: #add8e6;
}

.disciplinaAtendida {
  color: #00000080;
  order: 2;
}

/* Lista de disciplinas - Períodos */

.periodo1 {
  background-color: #dcdcdc;
}

.periodo2 {
  background-color: #cdcdcd;
}

.periodo3 {
  background-color: #bebebe;
}

.periodo4 {
  background-color: #afafaf;
}

.periodo5 {
  background-color: #a0a0a0;
}

.periodo6 {
  background-color: #919191;
}

.periodo7 {
  background-color: #828282;
}

.periodo8 {
  background-color: #737373;
}

.semPeriodo {
  background-color: #ffffff;
}

/* Lista de disciplinas - Departamento da disciplina */

.IME01 {
  background-color: #dbedff;
}

.IME02 {
  background-color: #b6dcff;
}

.IME03 {
  background-color: #92caff;
}

.IME04 {
  background-color: #6db9ff;
}

.IME05 {
  background-color: #4da9ff;
}

.IME06 {
  background-color: #2496ff;
}

.FIS01 {
  background-color: #7fffd4;
}

.FIS02 {
  background-color: #40e0d0;
}

.FIS03 {
  background-color: #00ced1;
}

.ILE02 {
  background-color: #dda0dd;
}

.ILE04 {
  background-color: #ee82ee;
}

.FAF03 {
  background-color: #e9967a;
}

/* Lista de disciplinas - Disciplinas com trava de crédito */

.celTravaCredito {
  display: none;
}

.possuiTravaCredito {
  position: relative;
}

/* .imagemTravaCredito {
  max-width: 15px;
  max-height: 15px;
} */

.possuiTravaCredito .textoBalao {
  visibility: hidden;
  width: 120px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.possuiTravaCredito:hover .textoBalao {
  visibility: visible;
}

/* Lista de disciplinas - Detalhes (acordeão) */

.panel {
  display: none;
  padding: 2px;
  margin: 5px;
  background-color: #fffbeb;
  border-top: 1px solid #dddddd;
  width: calc(100%);
  cursor: default;
}

.celDisciplina.acordeao {
  cursor: pointer;
}

.celDisciplina.acordeao:after {
  content: '▶';
  font-size: 12px;
  color: #777777;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.celDisciplina.acordeao.active:after {
  content: '▼';
  top: 10px;
}

/* Detalhes da disciplina (no acordeão) */

.divContentBoxBody {
  font-size: 12px;
}

.divContentBlockHeader {
  font-weight: bold;
  margin-left: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.divContentBlockBody table {
  color: inherit;
}

.divContentBlockBody tbody {
  display: table-row-group;
}

.divContentBlockBody tr {
  display: table-row;
}
