.page-header {
    box-sizing: border-box;
    text-align: center;
    width: 900px; /* TODO: MUDAR DEPOIS pra ficar responsivo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, Arial, Serif;
}

.header-column {
    float: left;
    padding: 10px;
}

.header-column.left, .header-column.right {
    width: 10%;
}
  
.header-column.middle {
    width: 70%;
}
  
.page-header:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

.tdHeader {
    margin:0px;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8B8B83;
    vertical-align: bottom;
    padding: 0px;
}

.tdHeader .celTipoDisc {
    width: 500px;
}

a {
    color: inherit;
}

tbody {
    display: flex;
    flex-direction: column;
}

tr {
    display: table;
}

td {
    vertical-align: top;
    
}

.LINKNAOSUB {
    text-decoration: none;
    color: inherit;
}

.celDisciplina {
    width: 350px;
}

.celCodigoDisc {
    width: 100px;
}

.celPeriodo {
    width: 35px;
}

.celAtendida {
    width: 30px;
    padding-left: 25px;
}

.celTipoDisc {
    width: 75px;
    padding-left: 20px;
}

.celRamificacao {
    width: 10px;
    padding-left: 15px;
}

.celCredito {
    width: 10px;
    padding-left: 30px;
}

.celCHTotal {
    width: 10px;
    padding-left: 25px;
}

.celPeriodoSugerido {
    
}

.linalt2 {
    line-height: 15px;
    margin-top: 15px;
}

.celula {
    background-color: pink
}

.linhaDisciplina {
    background-color: lightblue;
    order: 1;
}

.linhaDisciplina th {
    font-weight: normal;
    position: sticky;
    top: 0;
    background-color: lightblue;
}

.disciplinaAtendida{
    color: rgba(0, 0, 0, 0.5);
    order: 2;
}

.IME01 {
    background-color: #dbedff
}

.IME02 {
    background-color: #b6dcff
}

.IME03 {
    background-color: #92caff
}

.IME04 {
    background-color: #6db9ff
}

.IME05 {
    background-color: #4da9ff
}

.IME06 {
    background-color: #2496ff
}

.FIS01 {
    background-color: aquamarine
}

.FIS02 {
    background-color: turquoise
}

.FIS03 {
    background-color: darkturquoise
}

.ILE02 {
    background-color: plum
}

.ILE04 {
    background-color: violet
}

.FAF03 {
    background-color: darksalmon
}

.periodo1 {
    background-color: rgb(220, 220, 220)
}

.periodo2 {
    background-color: rgb(205, 205, 205)
}

.periodo3 {
    background-color: rgb(190, 190, 190)
}

.periodo4 {
    background-color: rgb(175, 175, 175)
}

.periodo5 {
    background-color: rgb(160, 160, 160)
}

.periodo6 {
    background-color: rgb(145, 145, 145)
}

.periodo7 {
    background-color: rgb(130, 130, 130)
}

.periodo8 {
    background-color: rgb(115, 115, 115);
}

.semPeriodo {
    background-color: white;
}

.celTravaCredito {
    display: none;
}

.possuiTravaCredito {
    position: relative;
}

.imagemTravaCredito {
    max-width: 15px;
    max-height: 15px;
}

.possuiTravaCredito .textoBalao {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.possuiTravaCredito:hover .textoBalao {
    visibility: visible;
  }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }