/*************************/
/* Dados das disciplinas */
/*************************/

.dados-disciplina {
  background-color: #add8e6;
  margin: 2px 0;
  padding: 2px;
  /* order: 1; */

  & th {
    font-weight: bold;
    position: sticky;
    top: 0;
    vertical-align: middle;
    background-color: #add8e6;
  }
}

.disciplina-codigo {
  width: 120px;
  min-width: 120px;
  text-align: center;
}

.disciplina-nome {
  width: 400px;
  position: relative;
}

td.disciplina-nome {
  text-align: left;
}

.texto-nome-disciplina {
  display: inline-block;
}

.disciplina-periodo {
  width: 70px;
  text-align: center;
}

.disciplina-periodo span {
  padding: 2px 10px;
  font-weight: bold;
}

.disciplina-situacao-estudante {
  width: 30px;
  padding-left: 25px;
  text-align: center;
}

.disciplina-tipo {
  width: 120px;
  min-width: 120px;
}

/* Números, quando não são apenas rótulos/identificadores, devem ser alinhados à direita. */
.disciplina-num-creditos, .disciplina-ch-total, .disciplina-trava-credito {
  text-align: right;
}

.disciplina-num-creditos {
  width: 100px;
  min-width: 100px;
}

.disciplina-ch-total {
  width: 120px;
  min-width: 120px;
}

.disciplina-periodo-sugerido {
  width: 100px;
  min-width: 100px;
}

:not(.disciplina-atendida) > td[data-periodo-sugerido="true"] {
  font-weight: bold;
}

.disciplina-codigo-ramificacao {
  width: 110px;
  /* padding-left: 15px; */
}

.disciplina-trava-credito {
  width: 70px;
}

td.disciplina-trava-credito::after {
  content: var(--com-pre-requisito);
}

/* Overriding previous rule when no credit is required. */
td.disciplina-trava-credito[data-creditos-necessarios="0"]::after {
  content: var(--sem-pre-requisito);
}

.texto-periodo-sugerido {
  text-align: center;
}

td[data-periodo-sugerido="false"] {
  color: #808080;
  filter: grayscale(100%);
  opacity: 0.7;
}

/***********************************/
/* Dados das disciplinas: Períodos */
/***********************************/

.periodo-1 {
  background-color: #dcdcdc;
  color: #000000;
}

.periodo-2 {
  background-color: #cdcdcd;
}

.periodo-3 {
  background-color: #bebebe;
}

.periodo-4 {
  background-color: #afafaf;
}

.periodo-5 {
  background-color: #a0a0a0;
}

.periodo-6 {
  background-color: #919191;
}

.periodo-7 {
  background-color: #828282;
}

.periodo-8 {
  background-color: #737373;
}

.sem-periodo {
  background-color: inherit;
}

.disciplina-atendida {
  color: #00000030;
  /* order: 2; */
}

/****************************************/
/* Dados das disciplinas: Departamentos */
/****************************************/

.IME01 {
  background-color: #dbedff;
}

.IME02 {
  background-color: #b6dcff;
}

.IME03 {
  background-color: #92caff;
}

.IME04 {
  background-color: #6db9ff;
}

.IME05 {
  background-color: #4da9ff;
}

.IME06 {
  background-color: #2496ff;
}

.FIS01 {
  background-color: #7fffd4;
}

.FIS02 {
  background-color: #40e0d0;
}

.FIS03 {
  background-color: #00ced1;
}

.ILE02 {
  background-color: #dda0dd;
}

.ILE04 {
  background-color: #ee82ee;
}

.FAF03 {
  background-color: #e9967a;
}

/*******************************************/
/* Dados das disciplinas: Trava de crédito */
/*******************************************/

/* TODO Conferir se esse conjunto ainda é ou será utilizado */

.possui-trava-credito {
  position: relative;

  & .texto-balao {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }

  & .texto-balao::before {
    content: "Trava de crédito: ";
  }

  & .texto-balao::after {
    content: " créditos";
  }
}

/* .imagemTravaCredito {
  max-width: 15px;
  max-height: 15px;
} */

.possui-trava-credito:hover .texto-balao {
  visibility: visible;
}
