/* CSS com seletores e aninhamento:
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors/Selectors_and_combinators
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_nesting/Using_CSS_nesting
 */


/******************/
/* Estilos gerais */
/******************/

* {
  box-sizing: border-box;
}

html {
  /* Source: https://stackoverflow.com/a/70360664 */
  scrollbar-gutter: stable both-edges;
}

body {
  padding: 0.2em 2em;
  font-family: Verdana, "MS Sans Serif", Arial, Helvetica;
}

h3 {
  margin: 5px 0;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

caption {
  font-size: 16px;
  font-weight: bold;
  margin: 12px 0;
}

tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: table;
}

td {
  vertical-align: top;
}
