/********************************************/
/* Resumo do plano de inscrições: Estrutura */
/********************************************/

#tabela-resumo-plano-inscricoes {
  width: 100%;
  margin-bottom: 20px;
  font-family: Verdana, "MS Sans Serif", Arial, Helvetica;

  & th, td {
    padding: 1px; 
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
  }

  & th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 1px solid #808080;
  }
}

/*********************************************************/
/* Resumo do plano de inscrições: Formatação do conteúdo */
/*********************************************************/

#tabela-resumo-plano-inscricoes {
  & .resumo-disciplina-nome {
    width: 40%;
  }
  
  & .resumo-disciplina-codigo {
    width: 10%;
  }
  & .resumo-turma-id {
    width: 5%;
    text-align: center;
    font-weight: bold;
  }
  & .resumo-turma-tempos {
    width: 15%;
  }
  & .resumo-turma-local-aulas {
    width: 15%;
  }
}

/**********************************/
/* Plano de inscrições: Estrutura */
/**********************************/

#tabela-plano-inscricoes {
  width: 100%;
  margin-bottom: 20px;
  font-family: Verdana, "MS Sans Serif", Arial, Helvetica;
  border-collapse: collapse;

  & thead, tbody {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    & th {
      background-color: #cbd4e5;
      color: #104e8b;
    }

    & tr {
      display: table;
      background-color: #f2f2f2;
      font-weight: bold;
      color: #000000;
      text-align: center;
    }

    & td {
      vertical-align: middle;
      color: #104ea7;
      font-weight: bold;
    }

    & th, td {
      border: 1px solid #808080;
      padding: 2px;
      text-align: center;
      width: 14.28%;
    }
  }

  & tbody > tr > td {
    &.selecionada {
      background-color: #b0c4de;
    }

    &.com-conflito {
      background-color: #cd5c5c;
    }
  }
}
