<!DOCTYPE html><!-- retirar caso importe o modelo diretamente desse arquivo -->

<!-- Os espaços precedentes por linha, para a devida
formatação dentro da tabela, devem ser incluídos à parte -->
<tr class="dados-disciplina ${CSS_JA_ATENDIDA_SE_FOI_ATENDIDA}"><!-- Início do conteúdo da disciplina -->
  <td class="disciplina-periodo">
    <span class="${CSS_PERIODO}">${PERIODO}</span>
  </td>
  <td class="disciplina-nome ${CSS_TOOLTIP_SE_FOI_ATENDIDA}">
    <a href="#" onclick="javascript:consultarDisciplina(output, ${CODIGO_CINCO_ULTIMOS_NUMEROS}); return false;">&#128269;</a>
    <span class="texto-nome-disciplina">${NOME}</span>
      <!-- SE ${FOI_ATENDIDA}... -->
      <span class="tooltip-texto">Esta disciplina já foi atendida.</span>
      <!-- SE ${NOT(${FOI_ATENDIDA})}... -->
      <span></span>
  </td>
  <td class="disciplina-codigo ${disciplina.CODIGO_DEPARTAMENTO}">${CODIGO}</td>
  <td class="disciplina-tipo">${disciplina.TIPO}</td>
  <td class="disciplina-codigo-ramificacao">${disciplina.RAMIFICACAO}</td>
  <td class="disciplina-num-creditos">${disciplina.NUM_CREDITOS}</td>
  <td class="disciplina-ch-total">${disciplina.CARGA_HORARIA_TOTAL}</td>
  <td class="disciplina-periodo-sugerido" data-periodo-sugerido="${BOOLEAN_EH_PERIODO_SUGERIDO_MINUSCULAS}">
    <a href="#" onclick="javascript:consultarDisciplina(output, ${disciplina.CODIGO_CINCO_ULTIMOS_NUMEROS}); return false;">&#128269;</a>
    <span class="texto-periodo-sugerido">${disciplina.EH_PERIODO_SUGERIDO}</span>
  </td>
  <td class="disciplina-trava-credito" data-creditos-necessarios="${disciplina.TRAVA_DE_CREDITO}">${TRAVA_DE_CREDITO}</td>
  <td colspan="10" class="fold detalhes-disciplina">
    <div class="divContentBlock">
      <div class="divContentBlockHeader">
        <h3 class="info-disciplina-nome">${disciplina.NOME}</h3>
        <span class="info-disciplina-codigo">${disciplina.CODIGO}</span>
        <a class="info-disciplina-link-ementa" href="#" onclick="javascript:ementaDisciplina(${disciplina.CODIGO_CINCO_ULTIMOS_NUMEROS}); return false;">&#128196; Ementa</a>
      </div>
      <div class="divContentBlockBody info-disciplina">
        <ul class="info-disciplina-dados-gerais">
          <li>
            <span class="label-info-disciplina-dados-gerais">N.º de créditos:</span>
            <span class="info-disciplina-dados-gerais-num-creditos">${disciplina.NUM_CREDITOS}</span>
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">Carga horária semanal:</span>
            <span  class="info-disciplina-dados-gerais-ch-semanal">${disciplina.CH_SEMANAL_DISCIPLINA}</span>
            (<span class="label-info-disciplina-dados-gerais">Carga horária total:</span>
            <span class="info-disciplina-dados-gerais-ch-total">${disciplina.CARGA_HORARIA_TOTAL}</span>)
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">Sugerida para o período?</span>
            <span class="info-disciplina-dados-gerais-periodo-sugerido" data-periodo-sugerido="${disciplina.EH_PERIODO_SUGERIDO == "Sim"}">
              ${disciplina.EH_PERIODO_SUGERIDO}
              <a href="#" onclick="javascript:consultarDisciplina(
                  output, ${disciplina.CODIGO_CINCO_ULTIMOS_NUMEROS}
              ); return false;">&#128269;</a>
            </span>
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">Tempo de duração:</span>
            <span class="info-disciplina-dados-gerais-tempo-duracao">${disciplina.TEMPO_DURACAO_DISCIPLINA}</span>
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">Tipo de aprovação:</span>
            <span class="info-disciplina-dados-gerais-tipo-aprovacao">${disciplina.TIPO_APROVACAO_DISCIPLINA}</span>
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">Trava de crédito:</span>
            <span class="info-disciplina-dados-gerais-trava-credito">${disciplina.TRAVA_DE_CREDITO}</span>
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">Permite conflito de horário?</span>
            <span class="info-disciplina-dados-gerais-pode-conflitar">${disciplina.PERMITE_CONFLITO_HORARIO_DISCIPLINA}</span>
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">É oferecida como Universal?</span>
            <span class="info-disciplina-dados-gerais-oferta-universal">${disciplina.EH_UNIVERSAL_DISCIPLINA}</span>
          </li>
          <li>
            <span class="label-info-disciplina-dados-gerais">Permite situação "Em Preparo"?</span>
            <span class="info-disciplina-dados-gerais-pode-em-preparo">${disciplina.PERMITE_EM_PREPARO_DISCIPLINA}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="divContentBlock">
      <h4 class="divContentBlockHeader">Requisitos da Disciplina</h4>
      <div class="divContentBlockBody div-pre-requisitos">
        <!-- SE ${NOT(${TEM_PRE_REQUISITO_DISCIPLINA})}... -->
        <p>Esta disciplina não possui requisito para inscrição.</p>
        <!-- SE ${TEM_PRE_REQUISITO_DISCIPLINA}... -->
        <div class="div-pre-requisito">
          <span class="label-pre-requisito">Pré-Requisito:</span>
          <p class="pre-requisitos">
            ${CODIGO_REQ_DISCIPLINA} ${NOME_REQ_DISCIPLINA}
            <!-- SE ${TEM_REQUISITO_ALTERNATIVO_DISCIPLINA}... -->
            <br/><span class="alternativo">ou</span>
            <!-- ${DADOS_REQUISITO_ALTERNATIVO_DISCIPLINA}: -->
            <br/>${CODIGO} ${NOME}
          </p>
        </div>
        <div class="div-pre-requisito">
          <span class="label-pre-requisito">Pré-Requisito:</span>
          <p class="pre-requisitos">
            ${CODIGO_REQ_DISCIPLINA} ${NOME_REQ_DISCIPLINA}
          </p>
        </div>
      </div>
    </div>
    <div class="divContentBlock">
      <h4 class="divContentBlockHeader">Turmas da Disciplina</h4>
      <div class="divContentBlockBody">

<!-- ---------------------------------------------------------- -->
<!-- INCLUIR AQUI O CONTEÚDO DAS TURMAS (SEGUIR MODELO PRÓPRIO) -->
<!-- ---------------------------------------------------------- -->

      </div>
    </div>
  </td>
</tr><!-- Fim do conteúdo da disciplina -->
